* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-wrapper {
    width: 200px;
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper i {
    padding: 0 10px;
    background-color: #f5f5f5;
    color: #555;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

#date-input {
    flex: 1;
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
    text-align: right;
}


.datepicker {
    position: relative;
    display: flex;
    justify-content: center; 
    margin-top: 15%;
    height: 40px;
  }
  
  .datepicker-popup {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .datepicker-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .datepicker-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
  

  .faded-day {
    opacity: 0.5;
  }
  
  .selected-day {
    background-color: lightblue;
  }
  
  .blah {
    margin-right: 25px;
  }
  