
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    height: 100%;
    width: 100%;
}

.input-wrapper {
 width: 500px;
 display: flex;
 border-box:#ccc
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

#date-input {
    display: flex;
    align-items: center;
    justify-content: center;
}
.datepicker {
    position: relative;
    display: flex;
    justify-content: center; 
    margin-top: 15%;
    height: 40px;
  }
  
  .datepicker-popup {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .datepicker-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .datepicker-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
  }
  

  .faded-day {
    opacity: 0.5;
  }
  
  .selected-day {
    background-color: lightblue;
  }
  
  .blah {
    margin-right: 25px;
  }
  